httpx
fastapi
python-dotenv
supabase
protobuf
google-genai
pydantic
opencv-python
pillow
langchain-google-genai
truststore
browser_use
imageio
gitpython
uvicorn
requests
Werkzeug
python-dateutil
truststore

